body {
    margin: 0;
    font-family: Arial;
    background-color: White;
    color: white;
}

/* Top bar */
.topbar {
    display:flex;
    align-items: center;
    padding: 15px;
    background-color: Blue;
}

/* Menu icon */
.menu {
    font-size: 30px;
    margin-right: 15px;
}
 
/* Search bar */
.searchbar {
    flex:1;
	height:15px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 16px;

}

/* Main section */
.section1 {
    text-align: center;
    padding: 80px 20px;
}

/* Title */
.title {
    background-color: orange;
    color: black;
    padding: 15px;
    border-radius: 12px;
    display: inline-block;
}

/* Description */
.description {
    margin-top: 20px;
    font-size: 18px;
    color: #000;
}

/* Button */
.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: orange;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}

